USE [SOHATS]
GO
/****** Object:  Table [dbo].[cikis]    Script Date: 28.12.2025 20:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cikis](
	[dosyaNo] [varchar](15) NULL,
	[sevkTarihi] [datetime] NULL,
	[cikisSaati] [varchar](10) NULL,
	[toplamTutar] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dosyalar]    Script Date: 28.12.2025 20:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dosyalar](
	[dosyaNo] [varchar](15) NOT NULL,
	[tcKimlikNo] [varchar](11) NULL,
	[ad] [varchar](20) NULL,
	[soyad] [varchar](20) NULL,
	[dogumTarihi] [datetime] NULL,
	[cinsiyet] [varchar](5) NULL,
	[kanGrubu] [varchar](5) NULL,
	[adres] [varchar](100) NULL,
	[tel] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[dosyaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[islemler]    Script Date: 28.12.2025 20:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[islemler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[islemAdi] [varchar](50) NULL,
	[birimFiyat] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 28.12.2025 20:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[kodu] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](20) NULL,
	[soyad] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
	[yetki] [varchar](5) NULL,
	[unvan] [nvarchar](50) NULL,
	[dogumTarihi] [datetime] NULL,
	[iseBaslama] [datetime] NULL,
	[cinsiyet] [varchar](10) NULL,
	[tel] [varchar](20) NULL,
	[adres] [varchar](250) NULL,
 CONSTRAINT [PK_kullanicilar] PRIMARY KEY CLUSTERED 
(
	[kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poliklinik]    Script Date: 28.12.2025 20:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poliklinik](
	[poliklinikAdi] [varchar](50) NULL,
	[durum] [varchar](5) NULL,
	[aciklama] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sevk]    Script Date: 28.12.2025 20:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sevk](
	[islemId] [int] IDENTITY(1,1) NOT NULL,
	[sevkTarihi] [datetime] NULL,
	[dosyaNo] [varchar](15) NULL,
	[poliklinik] [varchar](50) NULL,
	[saat] [varchar](10) NULL,
	[yapilanIslem] [varchar](100) NULL,
	[doktor] [varchar](50) NULL,
	[miktar] [int] NULL,
	[birimFiyat] [money] NULL,
	[siraNo] [int] NULL,
	[toplamTutar] [money] NULL,
	[taburcu] [varchar](5) NULL,
 CONSTRAINT [PK_sevk] PRIMARY KEY CLUSTERED 
(
	[islemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dosyalar] ([dosyaNo], [tcKimlikNo], [ad], [soyad], [dogumTarihi], [cinsiyet], [kanGrubu], [adres], [tel]) VALUES (N'500', N'12345678901', N'test', N'hasta', CAST(N'2025-12-28T02:11:06.167' AS DateTime), N'Kadın', N'A Rh+', N'djsdklaslkdjaskljdlksajdk', N'0533154628')
INSERT [dbo].[dosyalar] ([dosyaNo], [tcKimlikNo], [ad], [soyad], [dogumTarihi], [cinsiyet], [kanGrubu], [adres], [tel]) VALUES (N'501', N'23456789076', N'sare', N'akbaş', CAST(N'2004-03-08T15:46:26.000' AS DateTime), N'Kadın', N'0 Rh+', N'sdlfksdşflkslşfkşsldkfşlsklşfkşsdf', N'5345679534')
GO
SET IDENTITY_INSERT [dbo].[islemler] ON 

INSERT [dbo].[islemler] ([id], [islemAdi], [birimFiyat]) VALUES (1, N'Genel Muayene', CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[islemler] ([id], [islemAdi], [birimFiyat]) VALUES (2, N'Kan Tahlili', CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[islemler] ([id], [islemAdi], [birimFiyat]) VALUES (3, N'Röntgen', CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[islemler] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanicilar] ON 

INSERT [dbo].[kullanicilar] ([kodu], [ad], [soyad], [sifre], [yetki], [unvan], [dogumTarihi], [iseBaslama], [cinsiyet], [tel], [adres]) VALUES (1, N'ali', N'kaya', N'123', N'true', N'Sekreter', CAST(N'1980-08-12T00:00:00.000' AS DateTime), CAST(N'2006-05-23T00:00:00.000' AS DateTime), N'erkek', N'057216826522', N'jfdskljsdslkfjs')
INSERT [dbo].[kullanicilar] ([kodu], [ad], [soyad], [sifre], [yetki], [unvan], [dogumTarihi], [iseBaslama], [cinsiyet], [tel], [adres]) VALUES (2, N'Ahmet', N'Yılmaz', N'123', N'true', N'Doktor', CAST(N'1989-07-04T00:00:00.000' AS DateTime), CAST(N'2010-07-30T00:00:00.000' AS DateTime), N'erkek', N'057266522362', N'dsfsdflksldkfş')
INSERT [dbo].[kullanicilar] ([kodu], [ad], [soyad], [sifre], [yetki], [unvan], [dogumTarihi], [iseBaslama], [cinsiyet], [tel], [adres]) VALUES (3, N'Ayşe', N'Demir', N'123', N'true', N'Doktor', CAST(N'1995-10-06T00:00:00.000' AS DateTime), CAST(N'2020-10-23T00:00:00.000' AS DateTime), N'kadın', N'054545645689', N'sdfksdlfsdlşfkdsşkf')
SET IDENTITY_INSERT [dbo].[kullanicilar] OFF
GO
INSERT [dbo].[poliklinik] ([poliklinikAdi], [durum], [aciklama]) VALUES (N'Dahiliye', N'True', N'Genel Dahiliye Polikliniği')
INSERT [dbo].[poliklinik] ([poliklinikAdi], [durum], [aciklama]) VALUES (N'Kardiyoloji', N'True', N'Kalp Hastalıkları')
INSERT [dbo].[poliklinik] ([poliklinikAdi], [durum], [aciklama]) VALUES (N'Göz Hastalıkları', N'True', N'Göz Polikliniği')
GO
SET IDENTITY_INSERT [dbo].[sevk] ON 

INSERT [dbo].[sevk] ([islemId], [sevkTarihi], [dosyaNo], [poliklinik], [saat], [yapilanIslem], [doktor], [miktar], [birimFiyat], [siraNo], [toplamTutar], [taburcu]) VALUES (2, CAST(N'2025-12-28T04:52:09.037' AS DateTime), N'500', N'Dahiliye', N'04:52', N'Kan Tahlili', N'Ahmet Yılmaz', 2, 200.0000, 1, 400.0000, N'Evet')
INSERT [dbo].[sevk] ([islemId], [sevkTarihi], [dosyaNo], [poliklinik], [saat], [yapilanIslem], [doktor], [miktar], [birimFiyat], [siraNo], [toplamTutar], [taburcu]) VALUES (3, CAST(N'2020-07-09T04:52:09.000' AS DateTime), N'500', N'KBB', N'04:53', N'İdrar Tahlili', N'Mehmet Kaya', 4, 50.0000, 1, 200.0000, N'Evet')
INSERT [dbo].[sevk] ([islemId], [sevkTarihi], [dosyaNo], [poliklinik], [saat], [yapilanIslem], [doktor], [miktar], [birimFiyat], [siraNo], [toplamTutar], [taburcu]) VALUES (4, CAST(N'2025-12-28T05:08:26.337' AS DateTime), N'500', N'Göz Hastalıkları', N'05:08', N'İdrar Tahlili', N'Ayşe Demir', 3, 50.0000, 1, 150.0000, N'Evet')
SET IDENTITY_INSERT [dbo].[sevk] OFF
GO
